{
  "plugins": [
    "add-module-exports",
    ["transform-es2015-modules-commonjs", { "allowTopLevelThis": false }],
    ["transform-runtime", { "polyfill": false, "regenerator": false }],
    "transform-async-to-generator",
    "transform-object-rest-spread"
  ]
}
